<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Подключение к .mdf через AttachDbFilename.
         Замените путь на тот, куда положили файл CarRentalDB.mdf -->
    <add name="CarRentalDB"
         connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\CarRentalDB\CarRentalDB.mdf;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
